In [3]:
import pandas as pd
import re

df = pd.read_csv('../data/telegram_scraped_data.csv')

In [8]:
df.head()

,Channel Name,Channel Handle,Message ID,Message Text,Timestamp,Media Path
0,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12385,SARDINE \nPrice 800 birr each \nTelegram https...,2024-10-10 04:07:51+00:00,downloaded_images\@lobelia4cosmetics_12385.jpg
1,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12384,UNSALTED MIXED NUTS \nPrice 3600 birr \nTelegr...,2024-10-10 04:07:51+00:00,downloaded_images\@lobelia4cosmetics_12384.jpg
2,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12383,SALTED MIXED NUTS \nPrice 3600 birr \nTelegram...,2024-10-10 04:07:51+00:00,downloaded_images\@lobelia4cosmetics_12383.jpg
3,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12382,UNSALTED CASHEWS\nPrice 3600 birr \nTelegram h...,2024-10-10 04:07:51+00:00,downloaded_images\@lobelia4cosmetics_12382.jpg
4,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12381,QUAKER OATS \nPrice 5000 birr \nTelegram https...,2024-10-10 04:07:50+00:00,downloaded_images\@lobelia4cosmetics_12381.jpg

In [9]:
df.describe()

         Message ID
count   6991.000000
mean    4278.654413
std     4944.086697
min        1.000000
25%      477.500000
50%     1120.000000
75%    10593.500000
max    12385.000000

In [12]:
df_v1 = df.drop_duplicates()

In [14]:
df_v2 = df_v1.fillna('N/A')

In [15]:
df_v2.to_csv('../data/telegram_data_v1.csv')

In [20]:
import re

def remove_emojis(text):
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # other symbols, including arrows
        u"\U00002702-\U000027B0"  # dingbats
        u"\U0001F900-\U0001F9FF"  # supplemental symbols and pictographs
        u"\U0001FA70-\U0001FAFF"  # more symbols and pictographs
        u"\U0001F004-\U0001F0CF"  # playing cards
        u"\U00002600-\U000026FF"  # miscellaneous symbols
        u"\U00002300-\U000023FF"  # additional miscellaneous technical symbols
        u"\U00002B50-\U00002BFF"  # more miscellaneous symbols (including stars)
        u"\U00002B05-\U00002B07"  # arrows
        "]+", flags=re.UNICODE
    )
    return emoji_pattern.sub(r'', text)

df_v2['Message Text'] = df_v2['Message Text'].apply(remove_emojis)

In [21]:
df_v2.to_csv('../data/telegram_data_v2.csv', index=False, encoding='utf-8-sig')